PYTHONPATH=src
CONFIG_PATH=configs/example.yaml

# Logger
LEVEL=DEBUG
FORMAT=json

# Postgres
DB_HOST_PORT=5433
DB_USER=postgres
DB_PASS=password
DB_NAME=mydb

# RabbitMQ
RABBIT_HOST_PORT=5672
RABBIT_MANAGEMENT_PORT=15672
RABBIT_USER=admin
RABBIT_PASS=password

# MinIO
MINIO_HOST_PORT=9000
MINIO_CONSOLE_PORT=9001
S3__ACCESS_KEY=minioadmin
S3__SECRET_KEY=minioadmin

# Qdrant
QDRANT_HOST_PORT=6333
QDRANT_GRPC_HOST_PORT=6334
QDRANT__SECRET_KEY=secret-key

# LLM
API_KEY=sk-or-vv-secret
